Bis_Client/web/WEB-INF/wsdl/localhost_8080/Bis_Server/NewWebService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://services/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://services/">

<xs:element name="deleteTiket" type="tns:deleteTiket"/>

<xs:element name="deleteTiketResponse" type="tns:deleteTiketResponse"/>

<xs:element name="getAllTiket" type="tns:getAllTiket"/>

<xs:element name="getAllTiketResponse" type="tns:getAllTiketResponse"/>

<xs:element name="insertTiket" type="tns:insertTiket"/>

<xs:element name="insertTiketResponse" type="tns:insertTiketResponse"/>

<xs:complexType name="deleteTiket">
<xs:sequence>
<xs:element name="kode" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteTiketResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAllTiket">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getAllTiketResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertTiket">
<xs:sequence>
<xs:element name="tkt" type="tns:modelTiket" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="modelTiket">
<xs:sequence>
<xs:element name="harga" type="xs:string" minOccurs="0"/>
<xs:element name="jalur" type="xs:string" minOccurs="0"/>
<xs:element name="jamBerangkat" type="xs:string" minOccurs="0"/>
<xs:element name="kode" type="xs:string" minOccurs="0"/>
<xs:element name="noKursi" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertTiketResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>