Bis_Client/web/WEB-INF/wsdl/localhost_8080/Bis_Server/NewWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services/" name="NewWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://services/" schemaLocation="http://localhost:8080/Bis_Server/NewWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="getAllTiket">
<part name="parameters" element="tns:getAllTiket"/>
</message>
<message name="getAllTiketResponse">
<part name="parameters" element="tns:getAllTiketResponse"/>
</message>
<message name="deleteTiket">
<part name="parameters" element="tns:deleteTiket"/>
</message>
<message name="deleteTiketResponse">
<part name="parameters" element="tns:deleteTiketResponse"/>
</message>
<message name="insertTiket">
<part name="parameters" element="tns:insertTiket"/>
</message>
<message name="insertTiketResponse">
<part name="parameters" element="tns:insertTiketResponse"/>
</message>
<portType name="NewWebService">
<operation name="getAllTiket">
<input wsam:Action="http://services/NewWebService/getAllTiketRequest" message="tns:getAllTiket"/>
<output wsam:Action="http://services/NewWebService/getAllTiketResponse" message="tns:getAllTiketResponse"/>
</operation>
<operation name="deleteTiket">
<input wsam:Action="http://services/NewWebService/deleteTiketRequest" message="tns:deleteTiket"/>
<output wsam:Action="http://services/NewWebService/deleteTiketResponse" message="tns:deleteTiketResponse"/>
</operation>
<operation name="insertTiket">
<input wsam:Action="http://services/NewWebService/insertTiketRequest" message="tns:insertTiket"/>
<output wsam:Action="http://services/NewWebService/insertTiketResponse" message="tns:insertTiketResponse"/>
</operation>
</portType>
<binding name="NewWebServicePortBinding" type="tns:NewWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getAllTiket">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteTiket">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="insertTiket">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="NewWebService">
<port name="NewWebServicePort" binding="tns:NewWebServicePortBinding">
<soap:address location="http://localhost:8080/Bis_Server/NewWebService"/>
</port>
</service>
</definitions>