Bis_Client/src/conf/xml-resources/web-service-references/BisService/wsdl/localhost_8080/Bis_Server/BisService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://service/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://service/">

<xs:element name="deleteJalur" type="tns:deleteJalur"/>

<xs:element name="deleteJalurResponse" type="tns:deleteJalurResponse"/>

<xs:element name="deleteTiket" type="tns:deleteTiket"/>

<xs:element name="deleteTiketResponse" type="tns:deleteTiketResponse"/>

<xs:element name="getAllJalur" type="tns:getAllJalur"/>

<xs:element name="getAllJalurResponse" type="tns:getAllJalurResponse"/>

<xs:element name="getAllTiket" type="tns:getAllTiket"/>

<xs:element name="getAllTiketResponse" type="tns:getAllTiketResponse"/>

<xs:element name="insertJalur" type="tns:insertJalur"/>

<xs:element name="insertJalurResponse" type="tns:insertJalurResponse"/>

<xs:element name="insertTiket" type="tns:insertTiket"/>

<xs:element name="insertTiketResponse" type="tns:insertTiketResponse"/>

<xs:complexType name="deleteTiket">
<xs:sequence>
<xs:element name="kode" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteTiketResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertTiket">
<xs:sequence>
<xs:element name="tkt" type="tns:modelTiket" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="modelTiket">
<xs:sequence>
<xs:element name="harga" type="xs:string" minOccurs="0"/>
<xs:element name="jalur" type="xs:string" minOccurs="0"/>
<xs:element name="jamBerangkat" type="xs:string" minOccurs="0"/>
<xs:element name="kode" type="xs:string" minOccurs="0"/>
<xs:element name="noKursi" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertTiketResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAllJalur">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getAllJalurResponse">
<xs:sequence>
<xs:element name="return" type="tns:modelJalur" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="modelJalur">
<xs:sequence>
<xs:element name="kodeJalur" type="xs:string" minOccurs="0"/>
<xs:element name="kotaAsal" type="xs:string" minOccurs="0"/>
<xs:element name="kotaTujuan" type="xs:string" minOccurs="0"/>
<xs:element name="kursi" type="xs:string" minOccurs="0"/>
<xs:element name="tanggal" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertJalur">
<xs:sequence>
<xs:element name="jlr" type="tns:modelJalur" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertJalurResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAllTiket">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getAllTiketResponse">
<xs:sequence>
<xs:element name="return" type="tns:modelTiket" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteJalur">
<xs:sequence>
<xs:element name="kodeJalur" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteJalurResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>
</xs:schema>